/*colors */
/*#bac1b8
#58a4b0
#0c7c59
#2b303a
#d64933
*/

/*colors round 2 */

/*
#BEB328
#D7C55D
#A49566
#5A2411
#8D1211
*/
/*colors muted */

/*
#8EA731
#D7C55D
#DAD6C8
#A49566
#5A2411
*/

.content-container {
    overflow: hidden;
}


/* Typography */

body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h2 {
    text-align: center;
    color: #A49566;    
}

header {
	text-align: center;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),   url("img/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #f7f7f7;
	height: 220px;
	margin-bottom: 3rem;
}

header h1 {
	margin-top: 1.5rem;
}
header h2 {
    color: #f7f7f7;
}

header h1::after {
	content: " ";
	border-bottom: #f7f7f7 solid;
	border-width: 1px;
	padding: 0;
	align-content: center;
	margin: .6rem 40% .2rem 40%;
	display: block;
}

header h2 {
    margin-top: -.4rem;
}

/*Nav Menu*/

/* Full width */
/*TODO: set for mobile */
#burger-container {
	position: relative;
	left: 75%;
	top: -2.95em;
	width: 40px;
}
.burger {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;

}

#nav-menu {
	/* display: block; */
	margin: 13px 0;
}
.nav-hidden {
    transition: all 0.2s;      
    visibility: hidden;
    opacity: 0;
}
.nav-show {
    transition: all 0.2s;  
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}


#nav-menu ul {
    text-align: center;
    list-style: none;
    vertical-align: middle;    
    margin: 0;  
}

.main-nav-menu li {
	display: inline-block;
	margin: 20px 40px 20px 0;
	font-size: 1.2em;
	line-height: 0;
}

/* Food Menu page */
.menu-container {
    position: relative;
}

#menu-nav {
    margin-bottom: 4rem;
}

#menu-nav ul {
    margin: 0 0;
    text-align: center;    
}

#menu-nav li {
    display: inline-block;
    margin: 0 3rem;
}

#menu-nav a {
    transition: all 0.4s;
    
    color: #A49566;
}
#menu-nav a:hover {
    color: #5A2411;
}


#menu-nav a:active {
    color: #d64933;
}

#menu-nav .active {
    color: #58a4b0;
    font-weight: bold;
}

/* Menus (breakfast/lunch/dinner) */

#breakfast-menu {
    position: absolute;
    display: block;
}

#lunch-menu {
    position: absolute;
    display: block;
}

.menu-active {
    transition: all 0.3s, opacity 0.3s ease;
    opacity: 1;
    transform: translateX(0px);    
    height: auto;
}

.breakfast-inactive {
    transition: all 0.3s;
    transition-delay: all 3s;
    opacity: 0;
    transform: translateX(-100px);
   overflow: hidden;
}

.lunch-inactive-right {
    transition: all 0.3s;
    transition-delay: all 3s;
    opacity: 0;
    transform: translateX(200px);
   overflow: hidden;
}
.lunch-inactive-left {
    transition: all 0.3s;
    transition-delay: all 3s;
    opacity: 0;
    transform: translateX(-200px);
   overflow: hidden;
}
.dinner-inactive {
    transition: all 0.3s;
    transition-delay: all 3s;
    opacity: 0;
    transform: translateX(200px);
   overflow: hidden;
}

/* Menu Items */

.menu-item {
    margin-bottom: 2rem;
}

.menu-item::after {
	content: " ";
	border-bottom: #bac1b8 dashed;
	border-width: 2px;
	padding: 0 50% 0 0;
	align-content: center;
	margin: 0 25%;
}

.menu-img {
    width: 100%;
    background-color: rgb(143, 111, 70);
    padding: 70px 25%;
    margin-bottom: 0.7em;
}

.course {
    color: #5A2411;
    margin-bottom: 1.6rem;
}

.menu-item h4 {
    display: inline;
    color: #8EA731;
}

.ingredients {
    font-size: .8em;
    font-style: italic;
    text-align: justify;
}

.price {
    display: block;
        float: right;
}